services:
  redis:
    image: redis:alpine
    container_name: redis_cache_express
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  backend:
    build: .
    container_name: backend_app_express
    ports:
      - "9023:8080"
    environment:
      - APP_URL=${APP_URL}
      - ORIGIN_URL=${ORIGIN_URL}
      - ORIGIN_URL_VERCEL=${ORIGIN_URL_VERCEL}
      - ORIGIN_URL_VERCEL2=${ORIGIN_URL_VERCEL2}
      - APP_SECRET=${APP_SECRET}
      - BASE_UPLOAD_URL=${BASE_UPLOAD_URL}
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=redis://redis:6379
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - FROM_EMAIL=${FROM_EMAIL}
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      redis:
        condition: service_healthy
    restart: unless-stopped

volumes:
  redis_data: